:root {
    --header-background: #5AC8B0;
    --header-text: #444B54;
    --body-background: #FFFDF9;
    --body-text: #5d635b;
    --box-background: #F7E4C2;
    --input-background: #FFFDF9;
    --btn-background: #F96D5A;
    --icon-color: #444B54;
    --hover-color: #79D9C0;
    --black: #000000;
    --white: #FFFFFF;
}

body {
    background-color: var(--body-background);
    color: var(--body-text);
    font-family: 'inter', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Nav Bar */

nav {
    width: 100vw;
    height: 10vh;
    background: var(--header-background);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    & li{
        height: 75px;
        align-self: center;
        & a {
            font-size: 30px;
            display: block;
            color: var(--header-text);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            align-content: center;
            & img {
                height: 64px;
            }
        }
        a:hover {
            background: var(--hover-color);
        }
    }
    
}

#account-btn {
    background-image: url('/images/DO YOUR WORK.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    justify-self: flex-start;
    
}

/* Button Colors */
a, button {
    color: var(--header-text);
    background-color: var(--btn-background);
    text-decoration: none;
    border-radius: 30px;
}

/* Index Styles */

#index-hero {
    display: grid;
    background-image: url('/images/hero-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    & a {
        text-align: center;
        align-self: center;
        align-content: center;
        justify-content: center;
        justify-self: center;
        font-family: 'Inter', sans-serif;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 620px;
        height: 100px;
        border-radius: 30px;
        border: 1px solid #000;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
}

#index-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.type-one-index {
    display: grid;
    grid-template: 48px 300px / 300px 700px;
    grid-template-areas: ". title"
                         "image content";
    gap: 48px 150px;
}

.type-two-index {
    display: grid;
    grid-template: 48px 300px / 700px 300px;
    grid-template-areas: "title ."
                         "content image";
    gap: 48px 150px;
}

#content-index:nth-of-type(1) {
    & article::before {
        content: "";
        display: block;
        width: 300px;
        height: 300px;
        border-radius: 30px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: url(/images/dog-walk.png) lightgray -297.621px -430.533px / 386.644% 257.794% no-repeat;
        translate: -450px;
    }
}

#content-index:nth-of-type(2) {
    & article::before {
        content: "";
        display: block;
        width: 300px;
        height: 300px;
        border-radius: 30px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: url(/images/dog-food.png) lightgray -267.839px -128px / 277.966% 185.333% no-repeat;
        translate: 850px;
    }
}

#content-index:nth-of-type(3) {
    & article::before {
        content: "";
        display: block;
        width: 300px;
        height: 300px;
        border-radius: 30px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: url(/images/vet-visit.png)  lightgray -74.973px 0px / 149.982% 100% no-repeat;
        translate: -450px;
    }
}


#content-index {
    & img {
        grid-area: image;
        width: 300px;
        height: 300px;
        border-radius: 30px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    & h2 {
        grid-area: title;
        font-size: 40px;
        font-weight: 400;
    }
    & article {
        grid-area: content;
        height: 300px;
        width: 700px;
        border-radius: 30px;
        border: 1px solid #000;
        background: var(--box-background);
        & p {
            translate: 0px -300px;
            font-size: 30px;
            font-weight: 400;
            padding: 10px;
        }
    }
}

/* Log In Styles */

#log-in-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 90px; */
    width: 500px;
    height: 175px;
    padding: 1rem 2rem;
    background-color: var(--box-background);
    color: var(--header-text);
    border-radius: 30px;
    margin: 2rem 0 2rem 0;
}

.log-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--box-background);
    border-radius: 30px;
    width: 1000px;
    height: 500px;
    padding: 1rem 4rem;
}

.log-in-form form {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
}

.log-in-form input {
    background-color: var(--input-background);
    border: 1px #000 solid;
    border-radius: 15px;
    width: 400px;
    height: 50px;
    margin: 1rem 0 1rem 0;
    padding: 0 1rem;
    font-size: 30px;
}

.log-in-form #log-in-btn {
    padding: 0 7rem;
    width: 300px;
    height: 50px;
    font-size: 30px;
    flex-shrink: 0;
}

.log-in-form div {
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 25px;
    margin: 1rem 0;
}

.log-in-form div p {
    font-size: 15px;
    padding: 0 1rem;
    border-radius: 30px;
    border: 1px solid #000;
    background-color: var(--input-background);
    align-self: center;
}

.log-in-shortcuts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.log-in-shortcuts .quick-log-in {
    margin: 0 1rem;
}

.log-in-shortcuts:hover {
    cursor: pointer;
}

#sign-up-btn {
    align-self: flex-end;
    padding: 0 4rem;
    height: 20px;
}

/* Sign Up Styles */

#sign-up-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Pet Profiles Styles */

#pet-profiles-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 100vw;
}

#profiles-title {
    font-size: 80px;
}

.pet-profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pet-profile, #frank-profile-overview {
    width: 260px;
    height: 390px;
    background-color: var(--box-background);
    border-radius: 30px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & img {
        height: 100px;
        width: 100px;
        border-radius: 30px;
        border: 1px #000 solid;
        flex-shrink: 0;
    }

    & article {
        display: flex;
        flex-direction: column;
        background-color: var(--body-background);
        height: 75%;
        width: 260px;
        border: #000 1px solid;
        border-radius: 30px;
        align-items: center;
        justify-content: center;

        & h2 {
            display: flex;
            font-size: 20px;
            background-color: var(--box-background);
            border-radius: 30px;
            border: #000 1px solid;
            width: 130px;
            height: 40px;
            align-items: center;
            justify-content: center;
            color: var(--body-text);
        }
        & p {
            color: var(--body-text);
        }
    }
}


#create-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & a {
        display: flex;
        background-color: var(--input-background);
        height: 100px;
        width: 100px;
        border-radius: 30px;
        align-items: center;
        justify-content: center;
        border: #000 1px solid;
    }
}

/* About Styles */

#about-section-first {
    display: grid;
    grid-template: 50px 400px 50px / 700px 500px;
    grid-template-areas: "title image"
                         "content image"
                         ". image";

    gap: 10px 100px;
}

#about-section-second {
    display: grid;
    grid-template: 50px 400px 50px / 500px 700px;
    grid-template-areas: "image title"
                         "image content"
                         "image .";
    gap: 10px 100px;
}

[id^="about-section-"] {
    justify-self: center;
    & img {
        grid-area: image;
        width: 500px;
        height: 500px;
        border-radius: 30px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    & h2 {
        grid-area: title;
        font-size: 60px;
        font-weight: 400;
        margin: 0px;
    }
    & article {
        grid-area: content;
        height: 400px;
        width: 700px;
        border-radius: 30px;
        border: 1px solid #000;
        background: var(--box-background);
        & p {
            font-size: 35px;
            font-weight: 400;
            padding: 20px;
        }
    }
}

#team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 175px;
    & img {
        width: 100%;
        border-radius: 30px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    & h2 {
        font-size: 60px;
        font-weight: 400;
        margin-bottom: 0px;
    }
}

#about-hero {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    margin-bottom: 100px;
} 

/* Create Pet Profile Styles */

/* Account Styles */

/* Personal Pet Profile Styles */

body#frank {
    background: url(/images/grass.png);
    background-repeat: repeat;
}

#frank-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    position: absolute;
    z-index: 1;
    & img {
            height: 250px;
            width: 250px;
            border-radius: 30px;
            z-index: 2;
            translate: 50px;
        }
    & article {
        width: 500px;
        height: 100px;
        align-items: center;
        justify-items: center;
        border: 2px solid #000;
        border-radius: 30px;
        background: var(--body-background);
        translate: -125px;
        & p {
            font-size: 60px;
            margin: 15px;
            margin-right: 100px;
            justify-self: end;
        }
    }
}

#frank-info {
    margin-top: 125px;
    width: 100%;
    display: grid;
    grid-template: 200px 1fr 1fr 1fr / 1fr 1fr;
    grid-template-areas: ". ."
                         "activities activities"
                         "graph alerts"
                         "info feeding";
    gap: 20px;
    align-items: flex-end;
    justify-items: center;
    border-radius: 30px 30px 0px 0px;
    border: 2px solid #000;
    background: var(--box-background);
    & article h2 {
        color: var(--text-body);
        font-size: 60px;
        font-weight: 400;
    }
    & article textarea {
        height: 500px;
        border-radius: 30px;
        border: 1px solid #000;
        background: var(--input-background);
        font-size: 45px;
        padding: 15px;
        resize: none;
    }
}

#frank-activities {
    grid-area: activities;
    & textarea {
        width: 1000px;
    }
}

#frank-graph {
    grid-area: graph;
    background-color: var(--body-background);
    border-radius: 30px;
    border: 1px solid #000;
    width: 500px;
}

#frank-alerts {
    grid-area: alerts;
    & textarea {
        width: 500px;
    }
}

#frank-info-box {
    grid-area: info;
    & textarea {
        width: 500px;
    }
}

#frank-feeding {
    grid-area: feeding;
    & textarea {
        width: 500px;
    }
}

/* Contact Styles */

/* Footer Styles */

footer {
    display: flex;
    height: 5vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: var(--body-background);
    color: var(--body-text);
    border-top: rgba(0, 0, 0, 0.25) 1px solid;
}