:root {
    --header-background: #5AC8B0;
    --header-text: #444B54;
    --body-background: #FFFDF9;
    --body-text: #5d635b;
    --box-background: #F7E4C2;
    --input-background: #FFFDF9;
    --btn-background: #F96D5A;
    --icon-color: #444B54;
    --hover-color: #79D9C0;
    --black: #000000;
    --white: #FFFFFF;
}

body {
    background-color: var(--body-background);
    color: var(--body-text);
    font-family: 'inter', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Nav Bar */

nav {
    width: 100vw;
    height: 10vh;
    background: var(--header-background);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    & li{
        height: 75px;
        align-self: center;
        & a {
            font-size: 30px;
            display: block;
            color: var(--header-text);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            align-content: center;
            & img {
                height: 64px;
            }
        }
        a:hover {
            background: var(--hover-color);
        }
    }
    
}

#account-btn {
    background-image: url('/images/DO YOUR WORK.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    justify-self: flex-start;
    
}

/* Button Colors */
a, button {
    color: var(--header-text);
    background-color: var(--btn-background);
    text-decoration: none;
    border-radius: 30px;
}

/* Index Styles */

#index-hero {
    display: grid;
    background-image: url('/images/hero-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    & a {
        text-align: center;
        align-self: center;
        align-content: center;
        justify-content: center;
        justify-self: center;
        font-family: 'Inter', sans-serif;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 620px;
        height: 100px;
        border-radius: 30px;
        border: 1px solid #000;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
}

#index-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.type-one-index {
    display: grid;
    grid-template: 48px 300px / 300px 700px;
    grid-template-areas: ". title"
                         "image content";
    gap: 48px 150px;
}

.type-two-index {
    display: grid;
    grid-template: 48px 300px / 700px 300px;
    grid-template-areas: "title ."
                         "content image";
    gap: 48px 150px;
}

#content-index:nth-of-type(1) {
    & article::before {
        content: "";
        display: block;
        width: 300px;
        height: 300px;
        border-radius: 30px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: url(/images/dog-walk.png) lightgray -297.621px -430.533px / 386.644% 257.794% no-repeat;
        translate: -450px;
    }
}

#content-index:nth-of-type(2) {
    & article::before {
        content: "";
        display: block;
        width: 300px;
        height: 300px;
        border-radius: 30px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: url(/images/dog-food.png) lightgray -267.839px -128px / 277.966% 185.333% no-repeat;
        translate: 850px;
    }
}

#content-index:nth-of-type(3) {
    & article::before {
        content: "";
        display: block;
        width: 300px;
        height: 300px;
        border-radius: 30px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: url(/images/vet-visit.png)  lightgray -74.973px 0px / 149.982% 100% no-repeat;
        translate: -450px;
    }
}


#content-index {
    & img {
        grid-area: image;
        width: 300px;
        height: 300px;
        border-radius: 30px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    & h2 {
        grid-area: title;
        font-size: 40px;
        font-weight: 400;
    }
    & article {
        grid-area: content;
        height: 300px;
        width: 700px;
        border-radius: 30px;
        border: 1px solid #000;
        background: var(--box-background);
        & p {
            translate: 0px -300px;
            font-size: 30px;
            font-weight: 400;
            padding: 10px;
        }
    }
}

/* Log In Styles */

#log-in-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 90px; */
    width: 500px;
    height: 175px;
    padding: 1rem 2rem;
    background-color: var(--box-background);
    color: var(--header-text);
    border-radius: 30px;
    margin: 2rem 0 2rem 0;
}

.log-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--box-background);
    border-radius: 30px;
    width: 1000px;
    height: 500px;
    padding: 1rem 4rem;
}

.log-in-form form {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
}

.log-in-form input {
    background-color: var(--input-background);
    border: 1px #000 solid;
    border-radius: 15px;
    width: 400px;
    height: 50px;
    margin: 1rem 0 1rem 0;
    padding: 0 1rem;
    font-size: 30px;
}

.log-in-form #log-in-btn {
    padding: 0 7rem;
    width: 300px;
    height: 50px;
    font-size: 30px;
    flex-shrink: 0;
}

.log-in-form div {
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 25px;
    margin: 1rem 0;
}

.log-in-form div p {
    font-size: 15px;
    padding: 0 1rem;
    border-radius: 30px;
    border: 1px solid #000;
    background-color: var(--input-background);
    align-self: center;
}

.log-in-shortcuts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.log-in-shortcuts .quick-log-in {
    margin: 0 1rem;
}

.log-in-shortcuts:hover {
    cursor: pointer;
}

#sign-up-btn {
    align-self: flex-end;
    padding: 0 4rem;
    height: 20px;
}

/* Sign Up Styles */

#sign-up-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

