:root {
    --header-background: #5AC8B0;
    --header-text: #444B54;
    --body-background: #FFFDF9;
    --body-text: #5d635b;
    --box-background: #F7E4C2;
    --input-background: #FFFDF9;
    --btn-background: #F96D5A;
    --icon-color: #444B54;
    --hover-color: #79D9C0;
    --black: #000000;
    --white: #FFFFFF;
}

body {
    background-color: var(--body-background);
    color: var(--body-text);
    font-family: 'inter', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Nav Bar */

nav {
    width: 100vw;
    height: 10vh;
    background: var(--header-background);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    & li{
        align-self: center;
        & a {
            display: block;
            color: var(--header-text);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            height: 75px;
            align-content: center;
            & img {
                height: 64px;
            }
        }
        a:hover {
            background: var(--hover-color);
        }
    }
    
}

.logo {
    justify-self: flex-start;
    
}

/* Button Colors */
a, button {
    color: var(--header-text);
    background-color: var(--btn-background);
    text-decoration: none;
    border-radius: 30px;
}

/* Index Styles */

#index-hero {
    display: grid;
    background-image: url('/images/hero-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    & a {
        text-align: center;
        align-self: center;
        align-content: center;
        justify-content: center;
        justify-self: center;
        font-family: 'Inter', sans-serif;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 620px;
        height: 100px;
        border-radius: 30px;
        border: 1px solid #000;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
}

#index-main {
    display: flex;
    flex-direction: column;
}

/* Log In Styles */

#log-in-main {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 60px;
    width: 500px;
    height: 175px;
    padding: 51px 163px;
    background-color: var(--box-background);
    color: var(--header-text);
    border-radius: 30px;
}